{% extends "layout.html" %}
{% block title %}
todoApp 
{% endblock title %}
{% block content %}
<form method = "POST" enctype ="multipart/form-data" class = "form">
    {% csrf_token %}
    {{form.as_p}}
<button type="submit" class = "btn btn-success">Submit</button>
</form>
{% comment %} <p>your tasks are </p>
{% for d in data  %}
<h2>{{d.description}}</h2>

{% endfor %} {% endcomment %}
<form method ="post" action="{% url 'logout' %}" >
    {% csrf_token %}
<button class = "btn btn-danger">Logout</a>
{% endblock content %}